LOG_LEVEL=DEBUG

# Kafka configs
KAFKA_BROKER=kafka:9092
KAFKA_TOPIC=sensor_data
KAFKA_CONSUMER_GROUP=consumer_group1

# Vector configs
VECTOR_AGGREGATOR_SINK_ADDR=

# clickhouse credentials/configs
CLICKHOUSE_HOST=clickhouse-server
CLICKHOUSE_PORT=8123
CLICKHOUSE_USERNAME=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=warehouse
CLICKHOUSE_SENSOR_TABLE=analysis