LOG_LEVEL=DEBUG

# Kafka configs
KAFKA_BROKER=localhost:9093
KAFKA_TOPIC=sensor_data

# clickhouse credentials/configs
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USERNAME=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DATABASE=default
CLICKHOUSE_TABLE=sensor_data

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=postgres

TABLE_NAME=sensor_embeddings